In [ ]:
#INTRODUCTION A PYTHON

In [3]:
print("Hello World !")
print("Hello World !")

Hello World !
Hello World !

In [ ]:
#NOMBRES ET TYPES

In [4]:
2

2

In [5]:
type(2)

int

In [8]:
2 + 2
2 - 2
2 * 2
2 ** 2
4 / 2

2.0

In [9]:
4/3

1.3333333333333333

In [10]:
type(4/3)

float

In [11]:
4//3

1

In [12]:
type(4//3)

int

In [13]:
4%3

1

In [14]:
type(4%3)

int

In [15]:
4 % 2

0

In [16]:
a = 4 // 3
type (a)

int

In [17]:
type(int)

type

In [18]:
float(a)

1.0

In [19]:
type(a)

int

In [20]:
float(a)

1.0

In [21]:
type (a)

int

In [ ]:
""

In [ ]:
"je m'appelle Barry"

In [22]:
str(a)

'1'

# Loop 'for'

In [26]:
l = [1, 2, 3, 4, 5, 6]

In [28]:
for item in l:
    print(item)

1
2
3
4
5
6

In [33]:
for item in range(7):
    print(item)
    print(True)

0
True
1
True
2
True
3
True
4
True
5
True
6
True

# Loop 'while'

In [44]:
a = 3
while a < 10:
    a += 1
    print(a)

4
5
6
7
8
9
10

In [41]:
type (a < 10)

bool

In [45]:
a == 10

True

In [46]:
a != 10

False

In [47]:
type(True)

bool

In [48]:
type (False)

bool

# Conditions 'if'

In [56]:
a = 1

if a == 1:
    print('a is equal to 2')
elif a == 3:
    print('a is equal 3')
else:
    print('a is not equal to 2')
print('Hello Jedha !')

a is equal to 2
Hello Jedha !

# Lists

In [1]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list_a[0]
list_a[-1]

10

In [9]:
add_2 = ['hello', 'test', 'Jedha']

In [10]:
list_a + add_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

In [11]:
list_a.append(add_2)

In [12]:
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ['hello', 'test', 'Jedha']]

In [13]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for add in add_2:
    list_a.append(add)

print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

In [14]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
add_2 = ['hello', 'test', 'Jedha']

list_a.extend(add_2)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

# Delete

In [15]:
list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha']

In [18]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
add_2 = ['hello', 'test', 'Jedha', 'hello', 'hello']

list_a.extend(add_2)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello', 'test', 'Jedha', 'hello', 'hello']

In [20]:
list_a.remove('hello')
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'test', 'Jedha', 'hello']

In [21]:
while 'hello' in list_a:
    list_a.remove('hello')

print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'test', 'Jedha']

In [23]:
list_a.pop(-2)
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Jedha']

In [25]:
del(list_a[-1])
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
revove_list_a = list_a.pop(-1)

print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
print(revove_list_a)

9

In [30]:
add_2 = ['hello', 'test', 'Jedha', 'hello', 'hello']
print(add_2)

['hello', 'test', 'Jedha', 'hello', 'hello']

In [32]:
add_2.remove('hello')
print(add_2)

['test', 'Jedha', 'hello', 'hello']

In [33]:
while 'hello' in add_2:
    add_2.remove('hello')
    print(add_2)

['test', 'Jedha', 'hello']
['test', 'Jedha']

# Slice

In [34]:
list_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
list_a[2:9]

[3, 4, 5, 6, 7, 8, 9]

In [36]:
list_a[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [41]:
list_a[::-1]  # :: le pas

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
list_a[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
list_a[::-2]

[10, 8, 6, 4, 2]

# Dictionaries

In [47]:
dict_a = {
    'name': 'Julien'
}

print(dict_a)
# Principe de clé et de valeurs

{'name': 'Julien'}

In [48]:
dict_a['name']

'Julien'

In [49]:
dict_a['name'] = 'Barry'

In [50]:
dict_a

{'name': 'Barry'}

In [51]:
dict_a = {
    'name': 'Julien',
    'age': 25,
    'job': 'Data Scientist'
}

print(dict_a)

{'name': 'Julien', 'age': 25, 'job': 'Data Scientist'}

In [52]:
dict_a['age']

25

In [53]:
dict_a['job']

'Data Scientist'

In [54]:
dict_a['name'] = 'Barry'

In [55]:
dict_a

{'name': 'Barry', 'age': 25, 'job': 'Data Scientist'}

In [56]:
dict_a['age'] = 29

In [57]:
dict_a

{'name': 'Barry', 'age': 29, 'job': 'Data Scientist'}

In [58]:
dict_a.keys()

dict_keys(['name', 'age', 'job'])

In [60]:
dict_a = {
    'voiture': {
        'model': 'Ford focus',
        'nb_portes': 3
    },
    'name': 'Barry',
    'age': 29,
    'job': 'Data Scientist'
}

print(dict_a)

{'voiture': {'model': 'Ford focus', 'nb_portes': 3}, 'name': 'Barry', 'age': 29, 'job': 'Data Scientist'}

In [61]:
dict_a['voiture']

{'model': 'Ford focus', 'nb_portes': 3}

In [62]:
dict_b = {
    'name': 'Julien',
    'age': 25,
    'job': 'Data Scientist'
}

print(dict_b)

{'name': 'Julien', 'age': 25, 'job': 'Data Scientist'}

In [63]:
for item in dict_b.items():
    print(item)

('name', 'Julien')
('age', 25)
('job', 'Data Scientist')

# Tuple

In [65]:
tuple_a = ('name', 'Julien')
print(tuple_a)

# tuple est immuable

('name', 'Julien')

In [66]:
add_2 = ['hello', 'test', 'Jedha', 'hello', 'hello']

In [67]:
print(add_2)

['hello', 'test', 'Jedha', 'hello', 'hello']

In [68]:
set_a =  set(add_2)

In [71]:
print(set_a)

# Set affiche les élements d'une liste 
# en une occurence.

list(set_a)

{'hello', 'Jedha', 'test'}

['hello', 'Jedha', 'test']

In [70]:
print(dict_b)

{'name': 'Julien', 'age': 25, 'job': 'Data Scientist'}